*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, #f7dd1b, #f1b0b0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 1200px;
}

.quiz-container{
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px 20px rgba(0,0,0,0.3);
    height: auto;
}
.progress-bar{
    display: grid;
}

.progress-section{
    background-color: transparent;
    border-right: 1px solid white;
    transition: .5s all ease;
    color: transparent;
}
.progress-section:first-child{
    border-top-left-radius: 0.5rem;
}
.progress-section:last-child{
    border-right: none;
    border-top-right-radius: 0.5rem;
}

.question{
    background-color: transparent;
    transition: all ease 1s;
}
.addTransition{
    background-color: rgba(81, 92, 250, 0.932);
}

.header{
    font-size: 2.2rem;
    word-wrap: break-word;
    margin: 1.5rem;
}
.pointer{
    cursor: pointer;
}
.score{
    font-size: 2rem;
}
.error{
    font-size: 1.2rem;
    color: red;
    text-align: center;
}

ul li {
    display: flex;
    align-items: center;
    margin: 2.5rem 6rem;
    font-size: 1.7rem;
    list-style-type:none;
    text-transform: capitalize;
}
ul li label{
    margin-left: 10px;
}

ul li:last-child{
    margin-bottom: 2rem;
}

.points{
    font-size: 25px;
    margin-top: 50px;
}

.submit{
    display: block;
    width: 100%;
    background-color: #f1b0b0;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family:inherit;
    font-size: 1.4rem;
    margin-top: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.submit:hover{
    background-color: greenyellow;
}

@media (max-width: 768px) {
    html{
        font-size: 13px;
    }
    .quiz-container{
        min-width: 300px;
        width: 80%;
    }
    .center-questions{
        margin: auto 0;
    }
    ul li {
        margin: 2.5rem;
    }
}

@media (orientation: landscape){
    .main{
        height: auto;
    }
    .quiz-container{
        width: 70%;
        margin: 1rem 0;
    }
}